{% extends 'base.html.twig' %}

{% block title %}Edit Vagas{% endblock %}

{% block body %}
    <h1>Edit Vagas</h1>

    {{ include('vagas/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_vagas_index') }}">back to list</a>

    {{ include('vagas/_delete_form.html.twig') }}
{% endblock %}
